/* ============= GLOBAL STYLES ============= */

*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --selected-color: hsl(227, 53%, 74%);
   --selected-color-opacity: hsl(227, 53%, 74%, 0.2);
   --selected-color-alt: #8598DA;
   --help-color: #EBC565; 
   --succsess-color: #6EC080;

   --base-color: #444444;
   --base-color-alt: #A8A8A8;
   --base-color-opacity: hsl(0, 0%, 27%, .06);
   --white-color: #fff;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
}

h1 {
   margin: 0;
}

img {
   display: block;
   height: auto;
}

input, button {
   display: block;
   outline: none;
}

/* ============= CONTENT ============= */

.main {
   display: grid;
   place-items: center;

   width: 100%;
   height: 100vh;
}

.form__description {
   text-align: center;
   margin-bottom: 4rem;
}

.form__title {
   font-size: 3.6rem;
   margin-bottom: .5rem;
}

.form__subtitle {
   font-size: 1.8rem;
   color: var(--base-color-alt);
}

.form__container {
   width: 100%;
}

.form__input,
.form__button {
   width: 100%;
}

.form__container {
   position: relative;
}

.form__input {
   border-radius: 5px;
   border: 2px solid #E3E3E3;
   padding: 2rem 1rem 2rem 5rem;

   font-size: 1.8rem;
   color: var(--base-color);

   transition: .3s;
}

.form__input:hover,
.form__input:focus {
   box-shadow: 0 20px 8px -15px var(--selected-color-opacity);
   border-color: #9AA9E0;
}

.form__input::placeholder {
   color: #E3E3E3;
}

.form__icon {
   position: absolute;
   top: 2.1rem;
   left: 1.7rem;
}

.form__button {
   background-color: var(--selected-color);

   border: none;
   border-radius: 5px;
   margin-top: 4rem;
   padding: 1.5rem 0;
   
   font-size: 1.8rem;
   font-weight: 500;
   color: var(--white-color);

   cursor: pointer;
   transition: .3s;
}

.form__button:hover {
   background-color: var(--selected-color-alt);
}